[Unit]
Description=Service for monitoring important configuration files

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /usr/bin/wmconfig
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
